<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rmsr.myguard">

    <application
        android:name=".MyGuardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_binoculars"
        android:label="${appLabel}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round_binoculars"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myguard.SplashScreen"
        android:usesCleartextTraffic="false"
        tools:targetApi="n">

        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <receiver
            android:name=".presentation.workers.NotificationActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.rmsr.myguard.presentation.workers.ActionReceiver.GOT_IT_ACTION" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>